* {
  box-sizing: border-box;
}
body {
  background-color: darkslategray;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
.js-chessboard {
  display: grid;
  width: max-content;
  height: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 10px solid sienna;
}
.cell {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.knight {
  height: 35px;
}
.horseshoe {
  height: 25px;
  opacity: 0.6;
}
.castle {
  height: 30px;
  opacity: 0.7;
}
.black {
  background-color: peru;
}

.white {
  background-color: bisque;
}
.possible-move {
  border: 3px solid seagreen;
}

.cell-test {
  background-color: bisque;
  width: 50px;
  height: 50px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
